name: Test
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '15 7 * * SUN'

jobs:
  test:
    if: github.actor != 'dependabot[bot]'

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x]
        matterbridge-branch: ['', 'dev']

    steps:
      - name: Checkout project
        uses: actions/checkout@v4
  
      - name: Prepare build environment
        uses: ./.github/actions/prepare-environment
        with:
          node-version: ${{ matrix.node-version }}
          matterbridge-branch: ${{ matrix.matterbridge-branch }}

      - name: Build the project
        run: npm run build
      
      - name: Test the project (live API)
        run: npm run test
        env:
          DYSON_TOKEN: ${{ secrets.DYSON_TOKEN }}